{% if page.previous or page.next %}
  <section class="post-pagination">
    <ul>
      {% if page.previous %}
        <li><a href="{{ page.previous.url | relative_url }}" class="pagination-link bold" title="{{ page.previous.title | markdownify | strip_html }}"><strong>{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</strong>: {{ page.previous.title | markdownify | strip_html }}</a></li>
      {% endif %}
      {% if page.next %}
        <li><a href="{{ page.next.url | relative_url }}" class="pagination-link bold next" title="{{ page.next.title | markdownify | strip_html }}"><strong>{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</strong>: {{ page.next.title | markdownify | strip_html }}</a></li>
      {% endif %}
    </ul>
  </section>
{% endif %}
