/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.3em 0 0.5em !important;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0.3em !important;
  margin-bottom: 1em !important;
  font-size: $h-size-2;
}

h2 {
  font-size: $h-size-3;
}

h3 {
  margin: 0.6em 0 0.5em !important;
  font-size: $h-size-4;
}

h4 {
  font-size: $h-size-5;
}

h5 {
  font-size: $h-size-6;
}

h6 {
  font-size: $h-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin: 1em 1em 1em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-center;
  flex-wrap: wrap;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0;

  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 2em;
  }

  img {
    margin-bottom: 1em;
  }

  .image-wrapper {
    margin-bottom: 1.2em !important;
    border-radius: $border-radius;
    border: 1px solid black;

    img {
      margin-bottom: 0em !important;
    }
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
        height: 100%;
      }
    }

    figcaption {
      width: 100%;
    }

    /* Adjust the width of image items based on the layout */
    .image-item {
      width: calc(50% - 0.5em); /* For half layout */
      height: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(100% - 0.5em);
        height: 100%;
      }
    }

    /* Adjust the width of image items based on the layout */
    .image-item {
      margin-top: 1.9em;
      width: calc(50% - 0.5em); /* For half layout */
      height: 100%;

      &:nth-child(1) {
        margin-top: 0em;
      }

      &:nth-child(2) {
        margin-top: 0em;
      }

    }

    /* For third layout */
    @media (min-width: $large) {
      .image-item {
        width: calc(33.3333% - 1.0em);
        height: 100%;

        &:nth-child(1) {
        margin-top: 0em;
        }

        &:nth-child(2) {
          margin-top: 0em;
        }

        &:nth-child(3) {
          margin-top: 0em;
        }
      }
    }

    @media (max-width: $small) {
      .image-item {
        width: calc(100% - 1.0em);
        height: 100%;
        margin-top: 1.9em;

        &:nth-child(1) {
        margin-top: 0em;
       }

       &:nth-child(n+2) {
        margin-top: 1.9em;
       }

      }
    }

    figcaption {
      width: 100%;
    }
  }

  /* Styles for image containers and titles */
  .image-container {
    position: relative;
    width: 100%;

    a {

      position: relative;
      height: 100%;
      width: 100%;

      img {
        border-radius: $border-radius;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  .image-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -0.8em !important;
    left: 0;
    width: 100%;
    background-color: rgba(0, 146, 202, 0.92);
    color: #f7fbff;
    padding: 8px 10px;
    font-size: 14px; /* Adjust font size */
    font-weight: 600; /* Adjust font weight */
    text-align: center;
    z-index: 1; /* Ensure the titles appear above the images */
    display: block; /* Hide titles by default */
  }

  /* Show titles on hover */
  .image-container:hover .image-title {
    text-decoration: underline;
  }

  .image-description {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 48%;
    border-radius: $border-radius;
    background-color: rgba(34, 40, 49, 0.9);
    color: #f7fbff;
    padding: 10px 10px;
    font-size: 13px !important; /* Adjust font size */
    font-weight: 500; /* Adjust font weight */
    text-align: justify;
    z-index: 1; /* Ensure the titles appear above the images */
    opacity: 0; /* Hide descriptions by default */
    transition: opacity 0.2s ease-in-out;
    word-wrap: break-word;
  }

  .image-container:hover .image-description {
    opacity: 1;
  }



}

/* Figure captions */

figcaption {
  margin-top: -0.8em;
  margin-bottom: 1.3em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-align: center;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}


/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}
